<html>
    <title>
Home
    </title>
<head>
    <link rel="stylesheet" href="/assets/home.css">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Noto Serif">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto Slab">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Solway">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<title>Kleptomania</title>
<body>

    <nav class="navbar navbar-expand-lg  bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="mynavbar-toggler-icon">
            <i class="fa fa-navicon"></i>
          </span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#home">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#social">Symptoms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#helpline">Treatment</a>
              </li>

            </ul>
            </div> 
      </nav>
    
      <div>
        <img src="https://images.pexels.com/photos/897817/pexels-photo-897817.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" width="1000" height="400">
      </div>

<section id="home">
    <h2 id="uu">
        Overview
    </h2>
    <p>
      
      
      Kleptomania (klep-toe-MAY-nee-uh) is the recurrent inability to resist urges to steal items that you generally don't really need and that usually have little value. Kleptomania is a rare but serious mental health disorder that can cause much emotional pain to you and your loved ones if not treated.

Kleptomania is a type of impulse control disorder — a disorder that's characterized by problems with emotional or behavioral self-control. If you have an impulse control disorder, you have difficulty resisting the temptation or drive to perform an act that's excessive or harmful to you or someone else.

Many people with kleptomania live lives of secret shame because they're afraid to seek mental health treatment. Although there's no cure for kleptomania, treatment with medication or talk therapy (psychotherapy) may help to end the cycle of compulsive stealing.
Kleptomania is the inability to resist the urge to steal items, usually for reasons other than personal use or financial gain. First described in 1816, kleptomania is classified in psychiatry as an impulse control disorder. Some of the main characteristics of the disorder suggest that kleptomania could be an obsessive-compulsive spectrum disorder, but also share similarities with addictive and mood disorders.

The disorder is frequently under-diagnosed and is regularly associated with other psychiatric disorders, particularly anxiety, eating disorders, alcohol and substance use. Patients with kleptomania are typically treated with therapies in other areas due to the comorbid grievances rather than issues directly related to kleptomania.

Over the last 100 years, a shift from psychotherapeutic to psychopharmacological interventions for kleptomania has occurred. Pharmacological treatments using selective serotonin reuptake inhibitors (SSRIs), mood stabilizers and opioid receptor antagonists, and other antidepressants along with cognitive behavioral therapy, have yielded positive results. However, there have also been reports of kleptomania induced by selective serotonin reuptake inhibitors 
Kleptomania is an impulse control disorder where a person has a constant uncontrolled desire to steal and hoard things, most of which he does not require. A kleptomaniac is aware of the disease but does not have the power to control his temptation even if it is harmful to him and the entire family.

A kleptomaniac generally lives a life of guilt and shame because he feels afraid to visit a psychiatrist or a counsellor out of the fear of being defamed.

A person suffering from kleptomania cannot be treated with medicines, but meditation and counselling can help him deal with this mental health disorder. A kleptomaniac does not suffer in isolation, but the stealing habits inflict emotional pain on family members . Most of the people are unaware that kleptomania is a mental disease and consider the kleptomaniac as a thief .

<h2><b>What is Kleptomania ?</b></h2>
If you are suffering from kleptomania, you do not steal for personal gain. You steal from an uncontrollable and sudden urge to steal. You are different from a shoplifter or a robber in the sense that they steal purposefully and you are suffering from an impulsive control disorder.

A kleptomaniac generally steals from a shop or friends and relatives. They mostly steal things that are of no value to them. If you are a kleptomaniac, you generally stash away or donate the stolen items. The urge to steal is sudden and may weaken or become stronger over time.

The root cause of kleptomania is unknown. Low levels of a chemical called serotonin in the brain can be a cause of kleptomania because serotonin helps regulate emotions and actions. Stealing is linked to the release of dopamine. Dopamine is a neurotransmitter that causes pleasure, thus necessitating the urge to steal more.

A congenital kleptomaniac is a person who has had the disease since birth. A congenital kleptomaniac generally inherits the disease if there is a family history of having a parent or sibling with kleptomania or obsessive-compulsive disorder.

</p>


</section>
<section id="social">

    <h2 id="uu">Symptoms</h2>
    <p> The easily noticeable symptoms of kleptomania are:

      <li> Feelings of tension or anxiety that can be relaxed by stealing</li>
      
      <li> The powerful and uncontrollable urge to steal items without any purpose</li>
      
      <li> The items which you steal are generally ones you do not need</li>
      
      <li> You feel pleasure, happiness, or relaxation after a sudden act of stealing</li>
      
      <li> You feel shameful, guilty of self loathe after an act of impulsive stealing. You might fear that you will be arrested, punished, or defamed</li>
      
      <li> You will return or donate the objects after stealing them, but the urge of stealing will return. The kleptomania cycle will repeat itself</li>
      
      Complications Due to Kleptomania
      Various complications of kleptomania include:
      
      <li> If a kleptomaniac is not treated on time, it may affect him/her and his/her family emotionally, mentally, and financially.</li>
      
      <li> A kleptomaniac may suffer from isolation and guilt from the fear of humiliation.</li>
      
      <li> As the urge to steal is uncontrollable, a kleptomaniac may end up in jail.</li>
      
      <li> A kleptomaniac may suffer from other impulse control disorders like compulsive shopping, gambling, or alcohol misuse.</li>
      
      <li> A kleptomaniac may suffer from eating and personality disorders. He may suffer from constant anxiety or depression from the fear of getting caught or being arrested.</li>
      
      <li> A kleptomaniac can have bipolar disorders or suicidal thoughts.</li>
</p>
</section>
<section id="helpline">
<h2 id="uu">Treatment</h2>
    <p>
      A combination of physical and psychological evaluation can help treat kleptomania and help the patient understand the nature of kleptomania. Kleptomania can be managed by a combination of medications, psychotherapy, and through support groups.

<li>Medications. There are no FDA approved medicines for kleptomania. Doctors prescribe certain medicines depending on the condition of the patient and if the patient is suffering from other mental disorders along with kleptomania. The doctors may suggest naltrexone, a medicine that can reduce impulsive urges. The doctor may also suggest antidepressants to cure other symptoms related to kleptomania such as depression or suicidal thoughts.

<li>Psychotherapy: Cognitive behavioral therapy helps in replacing negative behavior and thought processes with positive ones. Cognitive behavioral therapy includes covert sensitization, aversion therapy, and systematic desensitization.

<li>Avoiding relapses: If you feel the urge to steal again, you should not discontinue your treatment. You should contact your doctor, a support group, or a close friend or family member if you have a temptation to steal.

<li>Coping : the most important step in the treatment of kleptomania is self -awareness and the urge to get cured. You need to stick to your treatment plan without missing

therapy sessions. You should identify the situations or feelings that may trigger you to steal. Try to control the urges through meditation.

You should get engaged in healthy hobbies like exercising and yoga to get relief from anxiety and stress.

<li>Support groups: A kleptomaniac can get help from support groups who deal with impulsive disorder diseases. Your psychotherapist might suggest such groups to help you.

Although fear, humiliation or embarrassment may make it hard for you to seek treatment for kleptomania, it's important to get help. Kleptomania is difficult to overcome on your own. Without treatment, kleptomania will likely be an ongoing, long-term condition.
When to see a doctor
If you can't stop shoplifting or stealing, seek medical advice. Many people who may have kleptomania don't want to seek treatment because they're afraid they'll be arrested or jailed. However, a mental health professional typically doesn't report your thefts to authorities.

Some people seek medical help because they're afraid they'll get caught and have legal consequences. Or they've already been arrested, and they're legally required to seek treatment.

If a loved one has kleptomania
If you suspect a close friend or family member may have kleptomania, gently raise your concerns with your loved one. Keep in mind that kleptomania is a mental health condition, not a character flaw, so approach your loved one without blame or accusation.

It may be helpful to emphasize these points:

You're concerned because you care about your loved one's health and well-being.
You're worried about the risks of compulsive stealing, such as being arrested, losing a job or damaging a valued relationship.
You understand that, with kleptomania, the urge to steal may be too strong to resist just by "putting your mind to it."
Treatments are available that may help to minimize the urge to steal and live without addiction and shame.
If you need help preparing for this conversation, talk with your doctor. He or she may refer you to a mental health professional who can help you plan a way of raising your concerns without making your loved one feel defensive or threatened.
Treatment of kleptomania typically involves medications and psychotherapy, or both, sometimes along with self-help groups. However, there's no standard kleptomania treatment, and researchers are still trying to understand what may work best. You may have to try several types of treatment to find what works well for you.
Prevention of Kleptomania
The causes of kleptomania are not clear; therefore, it is not known for sure how to prevent it. However, if you start treatment from the very beginning, then you can prevent or stop the disease from becoming worse or leading to other obsessive-compulsive disorders.
    </p>

    
</section>
	
    </body>
</html>